<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("./partials/head") %>
    <title>Document</title>
  </head>
  <body>
    <%- include("./partials/nav") %>
    <div class="m-4">
      <!-- <h1>Sign In</h1> -->
      <form action="/user/signin" method="post" class="m-4">
        <div class="input-group flex-nowrap">
          <input
            type="email"
            name="email"
            class="form-control m-2"
            placeholder="Email"
            aria-label="Username"
            aria-describedby="addon-wrapping"
          />
        </div>
        <div class="input-group flex-nowrap">
          <input
            type="password"
            name="password"
            class="form-control m-2"
            placeholder="Password"
            aria-label="Username"
            aria-describedby="addon-wrapping"
          />
        </div>
        <button type="submit" class="btn btn-primary m-3">Sign In</button>
      </form>
    </div>
    <%- include("./partials/script") %>
  </body>
</html>
